

<!-- HEADER (query)-->
<div style = "align-items: stretch;"
     class = "_gflex-center mt-5">
    <div class = "m-3">
        <input 
        appGoogleAutocomplete
        class = "_input"
        placeholder = "חפש תחזית למיקום..">
    </div>
    <div class = "m-3 bg-light _gflex-center">
        <div class = "pt-2">
            <mat-radio-group 
            (change) = "fetchWeather()"
            [(ngModel)] = "currWeatherQuery.unit"
            aria-label="בחר יחידת מידה">
             <mat-radio-button 
                value="Celsius"
                class = "mx-4"
                >
                 צליזוס
             </mat-radio-button>
             <mat-radio-button 
               value = "Fahrenheit"
               class = "mx-4"
                 >
                 פרנהייט
             </mat-radio-button>
         </mat-radio-group>
        </div>
     </div>
</div>



<!-- BODY (response)-->
<div class = "_wrapper _gflex-center">
    <!-- state === none (never fetch)-->
    <div *ngIf = "weatherResponse?.getStatus() === 'none'">
        <div *ngIf = "geoLocation.status === 'not-granted'">
            <ng-container *ngTemplateOutlet="noGeolocation"></ng-container>
        </div>
        <div *ngIf = "geoLocation.status === 'fetching-from-navigator'">
            <ng-container *ngTemplateOutlet="fetchingLocFromNavigator"></ng-container>
       </div>
    </div> 

         
   <!-- state === fetching-->
   <div *ngIf = "weatherResponse?.getStatus() === 'fetching'">
    <ng-container 
      *ngTemplateOutlet="fetchingWeather"
       >
    </ng-container>
   </div>
   <!-- state === error-->
    <div *ngIf = "weatherResponse?.getStatus() === 'httpError' 
                 || weatherResponse?.getStatus() === 'illegal'"
          >
        <ng-container 
        *ngTemplateOutlet="error"
        ></ng-container>
    </div>
   <!-- state === success-->
    <div *ngIf = "weatherResponse?.getStatus() === 'success'">
        <ng-container 
        *ngTemplateOutlet="success;context:{$implicit:weatherResponse.getResponse()}"
        ></ng-container>
    </div>
</div>







<ng-template #success let-response>
    <div >
        <!-- get by location input-->
       <div >
           <!-- location-->
           <div id = "weather-location">
              <span>{{response.coord.lat}},{{response.coord.lon}}</span>
              <span>{{response.name || ''}}</span>
           </div>
           <!-- datetime-->
           <div id = "weather-datetime">
               <span>{{datetimeHumanized}}</span>
           </div>
           <!-- temp-->
           <div>
               <span>{{response.main.temp}}</span>
               <!--unit-->
               <span *ngIf = "currWeatherQuery.unit === 'Celsius'" 
                   id = "unit-icon"
                   >
                       &#8451;
                </span>
               <span *ngIf = "currWeatherQuery.unit === 'Fahrenheit'" 
                  id = "unit-icon"
                  >
                  &#8457;
                </span>
           </div>
           <!-- weather icon-->
           <div>
               <mat-icon 
                   *ngIf = "response.main.temp >= 15"
                   id = "icon-sunny" 
                   >
                      wb_sunny
                </mat-icon>
               <mat-icon 
                  *ngIf = "response.main.temp >= 1 && 15 - response.main.temp >= 0"
                  id = "icon-cloud"
                  >
                  cloud
                </mat-icon>
               <mat-icon 
                 *ngIf = "1 - response.main.temp >= 0"
                 id = "icon-snow">
                 ac_unit
                </mat-icon>
              <span></span>
           </div>
       </div> 
    </div>
 </ng-template>





<ng-template #error>
    <div id = "error-result" 
        class = "text-secondary">
        <h3>
          אירעה שגיאה
        </h3>
        <div style = "text-align: center;">
         בדוק את החיבור שלך או נסה בעוד כמה דקות
        </div>
    </div>
</ng-template>

<ng-template #fetchingWeather>
   <div id = "fetching-weather">
    <h6 class = "text-secondary _gflex-center" >
        <mat-spinner diameter = "35"></mat-spinner>
        &nbsp;
        מתחבר לשירות התחזית...
    </h6>
   </div>
</ng-template>

<ng-template #fetchingLocFromNavigator>
    <div id = "fetching-loc-from-navigator">
        <h6 class = "text-secondary _gflex-center" >
            <mat-spinner diameter = "35"></mat-spinner>
            &nbsp;
            מקבל מהדפדפן את המיקום שלך
            ...
        </h6>
    </div>
 </ng-template>

<ng-template #noGeolocation>
    <div id = "no-geolocation" 
         class = "text-secondary"
         >
        <h3>
            אין באפשרות לדעת 
            מה המיקום שלך ...
        </h3>
        <div style = "text-align: center;">
            {{geoLocation.messageFromBrowser}}
        </div>
    </div>
</ng-template>

