/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

._gflex-center{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
 }

 

._gflex-end{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items:center;
}


._gflex-start{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:center;
}

._gflex-grow{
	flex-grow:1;
}

._gpointer{
	cursor: pointer;
}

._gscroll::-webkit-scrollbar {
    width: 11px;
    height:12px;
  }


/* Track */
  
._gscroll::-webkit-scrollbar-track {
    margin-top:4px;
    
    border-radius: 10px;
    
  }
  

   
  /* Handle */
  
  ._gscroll::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
    z-index: 100;
  }
  
  /* Handle on hover */
  
 ._gscroll::-webkit-scrollbar-thumb:hover {
    background: #da9939; 
  }

